*{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* navbar */

.container-navbar{
    position: relative;
    z-index: 2;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 27px;
    padding-left: 1%;
    padding-right: 1%;
    transition: 1s;
}

ul li{
    list-style: none;
}


.container-navbar .openMenu{
    display: none;
}

.home{
    position: fixed;
    top: 5%;
    left: 5%;
}

.contact{
    position: fixed;
    top: 5%;
    right: 5%;
}

.parcours{
    position: fixed;
    bottom: 5%;
    left: 5%;
}

.about{
    position: fixed;
    bottom: 5%;
    left: 47%;
}

.portfolio{
    position: fixed;
    left: 1%;
    top: 50%;
    transform: rotate(270deg);
}

.services{
    position: fixed;
    right: 1%;
    top: 50%;
    transform: rotate(90deg);
}

.instagram{
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.linkedin{
    position: fixed;
    bottom: 5%;
    right: 8%;
}

.github{
    position: fixed;
    bottom: 5%;
    right: 11%;
}

.lienVoyant{
    background: transparent;
    color: white;
}

.lienNonVoyant{
    background-color: white;
    color: black;
    font-size: 28px;
    opacity: 0;
}

.blackNonVoyant{
    background-color: black;
    color: white;
}

/* home */

.container-isabel{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    background-color: rgb(228, 176, 33, 255);
    display: flex;
    align-items: center;
}

a.button-home{
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border: 2px solid black;
    padding: 15px 20px;
    transform: skew(-15deg);
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 6px 6px 0px black;
    text-decoration: none;
}

a.button-home:hover{
    padding-right: 30px;
    padding-left: 30px;
}

span.arrow{
    margin-left: 10px;
    position: relative;
}

span.arrow i{
    color:white;
    transition: 0.2s;
}

span.arrow i:nth-child(2){
    position: absolute;
    right: 0;
    top: 2px;
    color:white;
    animation-delay: 0.5s;
}

span.arrow i:nth-child(3){
    position: absolute;
    right: 0;
    top: 2px;
    color:white;
    animation-delay: 1s;
}

a.button-home:hover i:nth-child(2){
    right: -10px;
}

a.button-home:hover i:nth-child(3){
    right: -20px;
}

a.button-home:hover i {
    animation:color 2s infinite linear;
}

@keyframes color{
    0%{
        color:white;
    }
    50%{
        color: transparent;
    }
    100%{
        color: white;
    }
}

.h-nom{
    color: white;
    font-size: 25px;
    padding-bottom: 3%;
}

.span-nom{
    font-weight: 100;
}

.div-slide{
    padding-left: 10%;
}

.img-isabel{
    position: absolute;
    width: 70%;
    right: 5%;
}

.slider .container-isabel{
    display: none;
}

.container-isabel.active{
    display: flex;
    animation: fade 0.8s;
}


@keyframes fade{
    from{
        right: -100%;
    }
    to{
        right: 0;
    }
}

.cont-btn{
    height: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 20%;
    z-index: 2;
}

.btn-nav{
    font-size: 30px;
    margin: 0 15px;
    cursor: pointer;
    color: white;
}


.text-slide{
    font-size: 30px;
    color: white;
}

.paragraphe-about{
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 20%;
}

.div-about{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* fin home */


/* about */

.container-about{
    width: 100%;
    height: 100vh;
    background: black;
}

.mot-gras-about{
    font-size: 30px;
    text-transform: uppercase;
}

/* fin about */

/* parcours */

.container-parcours{
    width: 100%;
    height: 100vh;
    background-color: white;
}


/* fin parcours */

.white{
    background-color: white;
    width: 100%;
    height: 100vh;
}

/* service */

.container-service{
    background-color: #c0c0c0;
    width: 100%;
    height: 100vh;
}

.container-col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.div-2-element{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titre-service{
    font-size: 30px;
    text-align: center;
}

.element-gauche{
    padding-right: 3%;
}

.element-droite{
    padding-left: 3%;

}

.p-service{
    text-align: center;
}

.col-2-service{
    padding-top: 5%;
}

/* fin service */
/* contact */

.container-contact{
    height: 100vh;
    width: 100%;
    display: flex;
}

.div-gauche{
    background-color: #e6e7e8;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-droite{
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-contact{
    background-color: #e6e7e8;
    border: none;
    border-bottom: 2px solid black;
    padding-top: 5%;
    margin-top: 5%;
    font-size: 25px;
    color: white;
}

.input-contact:focus{
    outline: none;
}

.input-contact::placeholder{
    color: black;
    font-size: 25px;
}

.div-form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.h-contact{
    font-size: 35px;
}

.h-2-contact{
    font-size: 55px;
}

.btn-contact{
    margin-top: 5%;
}

.element-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.icon-contact{
    font-size: 80px;
}

.espacement-contact{
    margin-bottom: 25%;
    margin-top: 5%;
    text-decoration: none;
    color: black;
}

/* fin contact */

@media screen and (min-device-width: 150px) and (max-device-width:600px){
    .container-navbar{
        background-color: black;
        color: #ffffff;
        position: fixed;
        top: 0;
        width: 100%;
        height: 10vh;
    }
    .ul-navbar{
        height: 60vh;
        position: fixed;
        top: 10vh;
        right: 0;
        left: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        transition: top 1s ease;
        display: none;
        padding-left: 0;
        transition: 1s;
    }
    .li-nav{
        padding-top: 4%;
        padding-bottom: 4%;
        text-align: center;
    }
    .ouverture-navbar{
        display: flex;
        transition: 1s;
    }
    .lienNonVoyant{
        display: none;
    }
    .lienVoyant{
        color: white;
    }
    .home{
        position: unset;
        font-size: 20px;
    }
    .contact{
        position: unset;
        font-size: 20px;
    }
    .parcours{
        position: unset;
        font-size: 20px;
    }
    .about{
        position: unset;
        font-size: 20px;
    }
    .portfolio{
        position: unset;
        font-size: 20px;
        transform: rotate(0deg);
    }
    .services{
        position: unset;
        font-size: 20px;
        transform: rotate(0deg);
    }
    nav .ul-navbar li a{
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
    }
    nav .openMenu{
        font-size: 2rem;
        margin: 20px;
    }
    .container-navbar .openMenu{
        display: block;
    }
    .div-slide{
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-isabel{
        right: unset;
        width: 90%;
        position: unset;
    }
    .container-isabel.active{
        justify-content: center;
        flex-direction: column-reverse;
    }
    .cont-btn{
        left: 0;
        top: 80%;
        width: 100%;
    }
    .container-contact{
        display: block;
        height: 90vh;
    }
    .div-gauche{
        height: 58vh;
    }
    .div-droite{
        height: 32vh;
        flex-direction: column;
        background-color: #e6e7e8;
    }
    .icon-contact{
        font-size: 40px;
    }
    .h-contact{
        font-size: 30px;
    }
    .h2-contact{
        font-size: 35px;
    }
    .element-contact{
        flex-direction: unset;
        flex-wrap: wrap;
    }
    .input-contact{
        padding: 0;
        border-bottom: 3px solid black;
    }
    .input-contact::placeholder{
        font-size: 15px;
    }
    .paragraphe-about{
        font-size: 20px;
        padding: 10%;
    }
}